/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root container */
#root {
  width: 100%;
  min-height: 100vh;
}

/* Global font */
html,
body, * {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body, #root {
    background-color: #FFFFFF;

}

img{
  width: 100%;
  height: auto; 
  display: block;
}
