/* Responsive Design */
@media (max-width: 1024px) {
  .login-card {}

  .left-overlay {
    left: 32px;
    bottom: 32px;
    right: 32px;
  }

  .left-title {
    font-size: 36px !important;
  }

  .right-card {
    padding: 48px;
  }

  .welcome {
    font-size: 32px !important;
  }

  .subtitle {
    font-size: 16px !important;

  }
}

@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    border-radius: 16px;
    height: auto !important;
    min-height: auto !important;
  }

  .left-card {
        min-height: 175px !important;
  }

  .right-card {
    border-radius: 0 0 16px 16px;
    padding: 40px 32px;
    flex: 1;
  }
.left-overlay {
    left: 22px !important;
    bottom: 22px !important;
    right: 22px !important;
}
  .left-title {
    font-size: 28px !important;
  }

  .welcome {
    font-size: 28px !important;
  }

  .form-wrap {
        max-width: 100% !important;
  }
}

@media (max-width: 480px) {
  .login-page {
    padding: 16px !important;
  }

  .login-container {
    padding: 0 !important;
    max-width: 100% !important;
  }

  .login-card {
    min-height: 700px;
     padding: 0 !important;
  }

  .left-card {
    height: 140px !important;
    min-height: 140px !important;
    /* display: none; */
  }

  .left-overlay {
    left: 20px !important;
    bottom: 20px !important;
    right: 20px !important;
  }

  .brand-row {
    margin-bottom: 16px !important;
  }

  .left-title {
    font-size: 18px !important;
  }

  .right-card {
    padding: 52px 14px 0 !important;
    align-items: flex-start !important;
  }

  .welcome {
    font-size: 22px !important;

  }

  .subtitle {
    font-size: 12px !important;
    margin-bottom: 38px !important;
  }

  .input {
    padding: 12px 14px !important;
    margin-bottom: 20px !important;
  }

  .login-btn {
    padding: 14px 20px !important;
  }
}